.header_a{
	background-color: green;
	height: 70px;
}

.header_a h1{
	float: left;
	margin-left: 200px;
	padding-left : 200px;
	padding-right: 200px;

}

.header_a p{
	float: right;
	padding-top: 10px;
	padding-right: 200px;
}
.body_a{
	height: 400px;
	background-image: url(https://post-phinf.pstatic.net/MjAxNzA2MjhfMTQw/MDAxNDk4NjU2MzY1ODYw.xfxbU2-DZu-LcYMzxLZc-SgvmAvBY3WDQQLGjGP3CJog.F9Hufm5_CpSfnARL6rDl1sV-iig6wKSG5FDbxSRicKIg.JPEG/%EB%B0%B0%EA%B2%BD%ED%99%94%EB%A9%B450.jpg?type=w1200);
	background-size: 60% 100%
}
.body_a h1{
	color: white;
	text-align: center;
	padding-top: 150px;
}
.body_img{
	height: 500px;
}
.img1{
	float: left;
	margin-left: 200px;
	margin-right: 50px;
}
.img2{
	float: left;
	margin-left: 50px;
	margin-right: 50px;
}
.img3{
	float: left;
	margin-left: 50px;
	margin-right: 50px;
}
.img1 img{
	width: 300px;
	height: 400px;
}

.img2 img{
	width: 300px;
	height: 400px;
}
.img3 img{
	width: 300px;
	height: 400px;
}
